
body{
    background-image: url("../../media/wallpapersden.com_desert-nights-moon-5k-minimalism_1920x1080.jpg");
}

label{
    font-family: "Arial", sans-serif;
    border-bottom: 1px;
    text-decoration: underline;
}

form{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 36%;
}

main{
  justify-content: center;
}

input[type=submit]{
    border: 1px solid black;
    padding: 5px 40px;
    border-radius: 30px;
    background-color: #725981;
    height: 30px;
    /* tot we eigen server hebben  */
    transform: translate(0%,1000%);
    /* tot we eigen server hebben  */
    box-shadow: 0 2px 2px rgba(0,0,0,0.6);
}

input[type=text], input[type=number]{
    border: 0.5px solid;
    border-radius: 30px;
    margin-top: 6px;
    margin-bottom: 16px;
    text-align: center;
    height: 30px;
    background-color: #4c4370;
    box-shadow: 0 2px 2px rgba(0,0,0,0.6);
}
