body {
    background-image: url("../media/wallpapersden.com_desert-sun-day-minimalism_1920x1080.jpg");
}

h2 {
    font-family: "Arial", sans-serif;
    font-size: 2rem;
    font-weight: normal;
    transform: translateY(800%);
}

#loader {
    /* source: https://www.w3schools.com/howto/howto_css_loader.asp */
    border: 10px solid #4c4370;
    border-radius: 50%;
    border-top: 10px solid rgb(251, 171, 171);
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}