body {
    background-image: url("../media/wallpapersden.com_desert-sun-day-minimalism_1920x1080.jpg");
}

#readyButton {
    position: fixed;
    bottom: 0;
    left: 44%;
}

#startButton {
    margin-left: 88%;
    bottom: 0;
    position: fixed;
}

#optionalButtons {
    margin-left: 1%;
    bottom: 0;
    position: fixed;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    display: block;
    width: 10rem;
    font-family: Arial, serif;
    transform: translate(0%, 100%);
}

h4 {
    font-size: 20px;
    display: block;
    width: 15rem;
}

p {
    margin-top: 10px;
    font-size: 20px;
    display: block;
    width: 15rem;
}

#waiting{
    border: dotted black 2px;
    margin-left: 15%;
    margin-top: 14%;
    width: 13%;
    padding: 20px;
}

table {
    margin-top: 20px;
    text-align: center;
    width: 15%;
    font-size: 20px;
    line-height: 35px;
}

table.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

table th {
    text-align: center;
    transform: translate(0%, 0%);
    font-size: 20px;
    height: 25px;

}

table td {
    border-bottom: solid 1px black;
}
