body {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../media/wallpapersden.com_desert-nights-moon-5k-minimalism_1920x1080.jpg");
}

h1 {
    font-family: "Vladimir Script", sans-serif;
    display: inline-block;
    font-size: 5rem;
    text-decoration: none;
    border-bottom: 1px solid black;
    line-height: 0.8;
    margin-top: 4rem;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    font-weight: normal;
}

form label{
    display: inline-block;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

form input[type=text], input[type=submit]{
    margin: 0 auto 0 auto;
    display: block;
    width: 12rem;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 5px 5px rgba(0,0,0,0.6);
}

form input[type=text] {
    margin-bottom: 2rem;
    border: 0.06rem solid rgba(69,69,69,0.79);
    font-size: 0.5rem;
    height: 20px;
    text-align: center;
}

form input[type=submit]{
    border: 2px solid;
    background-color: white;
    height: 30px;
}

#avatar{
    margin: 0 auto 1rem auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    outline: 1px black;
    background-color: white;
}