body {
    background-image: url("../media/wallpapersden.com_desert-nights-moon-5k-minimalism_1920x1080.jpg");
}

nav {
    margin-left: auto;
    margin-right: auto;
    width: 12rem;
    display: flex;
    justify-content: center;
    transform: translateY(150%);
}

ul {
    display: flex;
}

#hostGameButton {
    margin-top: 100px;
}

