body{
    background-image: url("../media/wallpapersden.com_desert-nights-moon-5k-minimalism_1920x1080.jpg") ;
}

main, header{
    text-align: center;
}

main{
    margin-top: 6rem;
}

table.scroll {
    width: 25%;
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 2px solid black;
}

table.scroll tbody, table.scroll thead {
    display: block;
}

table {
    width: 25%;
}

thead tr th {
    height: 30px;
    line-height: 30px;
    width: 22%;
}

tbody tr td{
    height: 30px;
    line-height: 30px;
    width: 1%;
}

table.scroll tbody {
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    width: auto;
}

table, thead th , tbody td{
    border-bottom: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto 20px auto;
    color: rgba(255,255,255,0.6);
}

tbody {
    border-top: 2px solid black;
    text-align: center;
}

tbody td, thead th {
    padding: 5px;
}

tbody td:hover {
    padding: 5px;
    text-align: center;
    background-color: rgba(251, 171, 171, 0.5);
}

tbody td.active{
    background-color: rgba(251, 171, 171, 0.5);
}

input[type=submit]{
    padding: 8px;
    margin: 2rem auto 0 auto;
    display: block;
    width: 12rem;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.6);
    background-color: transparent;
    border: solid 1px black;
    font-size: 1rem;
    color: black;
}

form input[type=submit]:active {
    box-shadow: 0 0 0;
    transform: translateY(4px);
    background-color: rgba(251, 171, 171, 0.5);
}

form input[type=submit]:hover{
background-color: rgba(251, 171, 171, 0.5);
}