body{
    background-image: url("../../media/wallpapersden.com_desert-sun-day-minimalism_1920x1080.jpg");
}

header h2{
    font-family: "Corbel", sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
}

footer{
    text-align: left;
    bottom: 0;
    position: fixed;
    width: 100%;
}

main{
    justify-content: center;
    padding: 30px;
    margin-left: 4rem;
    margin-right: 4rem;

}

.scoreboard{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

main h2{
    font-family: "Corbel", sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
}

#buildTypes{
    float: left;
    width: 30%;
    text-align: left;
    line-height: 30px;
}
.buildingAmount{
    float: left;
    width: 50px;
    text-align: right;
    line-height: 30px;
    margin-left: 30px;
}
.scoringCard{
    border-right: 2px black solid;
    padding-right: 20px;
    padding-left: 20px;
}
.place{
   margin-top: 190px;
    border: 1px black dashed;
    padding: 2px;
}
.popupContentLine{
    padding-bottom: 5px;
    border-bottom: 2px black solid;
}
.scoringCard:first-of-type{
    border-left: 2px black solid;
}
