html {
    background-image: url("../../media/wallpapersden.com_desert-sun-day-minimalism_1920x1080.jpg");
}

body {
    font-family: "Arial", sans-serif;
}

#TotalPlayBoard {
    background-color: beige;
    width: 1050px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px 150px 150px;
    grid-template-areas: "hd1 en en en en en hd2"
                         "ms mn mn mn mn mn bs"
                         "ms mn mn mn mn mn bs"
                         "ms mn mn mn mn mn bs"
                         "ms mn mn mn mn mn bs"
                         "ft ha ha ha ha re me";
    text-align: center;
    border-radius: 20px;
    margin-top: 35px;
    border: 1px solid black;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
}

#BuildingsRemaining {
    grid-area: hd2;
    grid-column: 7/8;
    grid-row: 1/2;
    outline: 1px solid black;
    width: 120px;
    height: 80px;
    margin-top: 40px;
    margin-left: 15px;
}

#BuildingsRemaining p {
    margin-top: 25px;
}
.currentPlayer{
    box-shadow: 0 0 5px 5px black;
}
.EnemyPlayers {
    grid-area: en;
    grid-column: 2/6;
    grid-row: 1/2;
    display: flex;
}
.EnemyCard{
    display: inline-block;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.EnemyScore{
    height: 25px;
    width: 25px;

    border: solid 1px black;
    border-radius: 50%;
    margin-right: 80%;
    transform: translate(-50%,-140%);
    background-color: beige;
}
.EnemyScore p {
    margin-top: 5px;
    text-align: center;
}

.EnemyBoard {
    outline: 1px solid black;
    width: 120px;
    height: 100px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "etl etl etl etl etl etl etl" "etl etl etl etl etl etl etl" "etl etl etl etl etl etl etl" "etl etl etl etl etl etl etl" "etl etl etl etl etl etl etl" "etl etl etl etl etl etl etl" "etl etl etl etl etl etl etl";
    overflow: auto;
}

.RemainingCards {
    grid-area: ft;
    outline: 1px solid black;
    width: 120px;
    height: 80px;
    margin-top: 40px;
    margin-left: 15px;
}

.RemainingCards p {
    margin-top: 25px;
}

#me {
    grid-area: me;
    grid-column: 7/8;
    border: 1px solid black;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.Score {
    grid-area: me;
    border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: beige;
    margin-top: 10px;
    margin-left: 10px;
}

.Score p {
    margin-top: 10px;
}

#MyAvatar img {
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#Hand {
    grid-area: ha;
    grid-column: 2/6;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    margin-top: 10px;
    display: flex;
}

.card {
    border: 1px solid black;
    width: 75px;
    height: 110px;
    margin-top: 27.5px;
    margin-left: 5px;
    background-color: beige;
}

.card p {
    margin-top: 50px;
}

.card:hover, .selectedCard {
    transform: translateY(-15px) scale(1.2);
    box-shadow: 0 0 5px 5px rgba(255, 210, 94, 0.5);
}
.selectedBankCoin{
    transform: scale(1.05);
    box-shadow: 0 0 5px 5px rgba(255, 210, 94, 0.5);
}

.blue, #blue {
    background-color: cornflowerblue;
}

.yellow, #yellow {
    background-color: yellow;
}

.orange, #orange {
    background-color: darkorange;
}

.green, #green {
    background-color: darkseagreen;
}

#ReserveDropUp {
    grid-area: re;
    grid-column: 6/7;
    border-right: 1px solid black;
    border-top: 1px solid black;
    margin-top: 110px;
}

.DropUpButton {
    height: 41px;
    width: 151px;
    margin-top: -1px;
    margin-left: -1px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
}

#FixedButtons {
    bottom: 0;
    left: 0;
    position: fixed;
    margin-left: 1%;
}
#MoneyStacks{
    grid-area: ms;
}
.confirmButton{
    transform: translate(-735px, 600px);
    text-decoration: none;
    color: black;
    border: 1px black solid;
    width: 120px;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

#Coin1, #Coin2, #Coin3, #Coin4 {
    border: 1px solid black;
    width: 120px;
    height: 50px;
    margin-left: 15px;
    margin-top: 50px;
}

#Coin1:hover, #Coin2:hover, #Coin3:hover, #Coin4:hover {
    box-shadow: 0 0 5px 5px rgba(255, 210, 94, 0.5);
}

#Coin1 p, #Coin2 p, #Coin3 p, #Coin4 p {
    margin-top: 15px;
}


.buildingStackMarket {
    border: 1px solid black;
    width: 120px;
    height: 120px;
    margin-left: 15px;
    margin-top: 15px;
}

.buildingStackMarket:hover {
    box-shadow: 0 0 5px 5px rgba(255, 210, 94, 0.5);
}

#buildingStack {
    grid-area: bs;
    grid-column: 7 / 8;
    grid-row: 2 / 6;
}

.innerBuilding, .innerBuildingMarket {
     border: 1px solid black;
     width: 100px;
     height: 100px;
     margin-top: 10px;
     margin-left: 10px;
     background-size: 100px;
}

.innerBuildingCity{
    background-size: 100%;
}


.price {
    border: 1px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: beige;
    margin-left: 45px;
    margin-top: -12.5px;
    text-align: center;
}

.price p {
    margin-top: 6.25px;
}

main {
    grid-area: mn;
    grid-column: 2/7;
    grid-row: 2/6;
    border: 1px solid black;

}

h1 {
    font-family: "Vladimir Script", sans-serif;
    display: inline-block;
    font-size: 2.5rem;
    width: 175px;
    text-decoration: none;
    line-height: 0.8;
    margin-top: 4rem;
    grid-area: hd1;
    grid-column: 1/2;
    grid-row: 1/2;
    transform: rotate(-30deg);
}

#FixedButtons a {
    padding: 8px;
    margin-bottom: 20px;
    text-align: center;
    display: block;
    width: 12rem;
    border: solid 1px black;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    color: black;

}

#FixedButtons a:hover {
    background-color: rgba(251, 171, 171, 0.5);
}

#FixedButtons a:active {
    box-shadow: 0 0 0;
    transform: translateY(4px);
}

/* own player reserve tiles area */
.ownPlayerReserveButton {
    height: 41px;
    width: 151px;
    margin-top: -1px;
    margin-left: -1px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    border-left: none;
}

#ownPLayerReserveDropUp {
    grid-area: re;
    grid-column: 6/7;
    margin-top: 110px;
    position: relative;
    display: inline-block;
}


.ownPlayerReserveTiles {
    position: absolute;
    bottom: 50px;
    min-width: 160px;
    z-index: 1;
    background-color: beige;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    font-family: Arial, serif;
    grid-template-columns: auto auto;
    grid-auto-rows: 100px 100px;
    grid-auto-flow: row;
    text-align: center;
    grid-gap: 10px;
    margin-top: 35px;
    padding-bottom: 35px;
    border: 1px solid black;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
    overflow: auto;
}

#reserveHidden {
display: none;
}

#ownPLayerReserveDropUp:hover .ownPlayerReserveButton {
    background-color: rgba(251, 171, 171, 0.5);
}

.ownPlayerReserveTiles .innerBuilding {
    margin-bottom: 10px;
}

/*show other player's reserve tiles area*/
.dropDownButton {
    width: 92px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;

}

.dropDownButton:hover {
    background-color: rgba(251, 171, 171, 0.5);
}

.reserveEnemy1 {
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: beige;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    font-family: Arial, serif;
    grid-template-columns: auto auto;
    grid-auto-rows: 100px 100px;
    grid-auto-flow: row;
    text-align: center;
    grid-gap: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
    overflow: auto;
}

#arcades {
    background-image: url("../../../images/arcades.jpg");
}

#chambers {
    background-image: url("../../../images/chambers.jpg");
}

#garden {
    background-image: url("../../../images/garden.jpg");
}

#pavilion {
    background-image: url("../../../images/pavilion.jpg");
}

#seraglio {
    background-image: url("../../../images/seraglio.jpg");
}

#tower {
    background-image: url("../../../images/tower.jpg");
}

#null{
    background-image: url("../../../images/fountain.jpg");
}


/*Grid for tiles on board and enemy players*/
#PlayBoard {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "ti ti ti ti ti ti ti" "ti ti ti ti ti ti ti" "ti ti ti ti ti ti ti" "ti ti ti ti ti ti ti" "ti ti ti ti ti ti ti" "ti ti ti ti ti ti ti" "ti ti ti ti ti ti ti";
    text-align: center;
    overflow: auto;
}

.plateBuilding {
    border: 1px dotted black;
}

.highlight{
    box-shadow: 0 0 5px 5px rgba(255, 210, 94, 0.5);
}

.Popup {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.Popup-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-duration: 0.4s;
    text-align: center;
    height: 35%;
}

.popup-body {
    display: flex;
    flex-direction: row;
    text-align: center;
}


figure{
    text-align: center;
    margin-top: 2em;
    margin-right: 1em;
    margin-left: 1em;
}

.Popup-content img{
    height: 70%;
    width: 70%;
}
figcaption{
    margin-top: 1em;
    background-color: #ff7858;
    color: white;
    padding: 10px;
}

.popup-header {
    padding: 2px 16px;
    background-color: #ff7858;
    color: white;
    height: 3em;
}
.popup-header h2{
    padding-top: 1em;
}

.popup-body {padding: 2px 16px;}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
